name: updater_example
description: Demonstrates how to use the updater plugin.
version: 1.0.0+2
publish_to: 'none'

environment:
  sdk: ">=2.16.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  updater:
    # When depending on this package from a real application you should use:
    #   updater: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version.
    path: ../

dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
 
flutter:
  uses-material-design: true